[submodule "lib/Runtime"]
	path = lib/Runtime
	url = https://github.com/bayrell/Runtime
[submodule "lib/Runtime.Crypt"]
	path = lib/Runtime.Crypt
	url = https://github.com/bayrell/Runtime.Crypt
[submodule "lib/Runtime.ORM"]
	path = lib/Runtime.ORM
	url = https://github.com/bayrell/Runtime.ORM
[submodule "lib/Runtime.Web"]
	path = lib/Runtime.Web
	url = https://github.com/bayrell/Runtime.Web
[submodule "lib/Runtime.Widget"]
	path = lib/Runtime.Widget
	url = https://github.com/bayrell/Runtime.Widget
[submodule "lib/Runtime.WordPress"]
	path = lib/Runtime.WordPress
	url = https://github.com/bayrell/Runtime.WordPress
[submodule "lib/Runtime.XML"]
	path = lib/Runtime.XML
	url = https://github.com/bayrell/Runtime.XML